body {
    color: white;
    background: black;
    margin: 10px;
}

header {
    border-bottom: solid 200px rgb(42, 122, 228);
    padding: 50px;
    font-size: 50px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 0%;
}